{{ if eq .Site.Language.Lang "zh" }}
<div class="container">
<!--
<a href="https://time.geekbang.org/column/intro/116?code=IRLmmVKgTghcFr5iafwl9kZezb48Uhf4Pjdf13-W3ko%3D&utm_term=SPoster" title="深入剖析 Kubernetes by 张磊">
    <img src="https://ws4.sinaimg.cn/large/006tNc79ly1g23l4vghn0j30ci05kjus.jpg" alt="深入剖析 Kubernetes by 张磊">
</a>
-->
<a href="https://time.geekbang.org/column/intro/100036601?code=oN13Sx6I4DKL-GTU7hBaBC%2F9C%2F5TDJPrYVsXf%2FxT0eI%3D">
    <img src="https://tva1.sinaimg.cn/large/006y8mN6ly1g7r2nvg0xdj30so06oaaa.jpg" alt="DevOps 实战笔记">
</a>
<hr>
<!--
<div class="gallery gallery-text">
    <a href="/jobs"><h4>加入蚂蚁金服，一起构建金融级云原生基础设施</h4></a>
    <a href="https://github.com/alipay/sofa-mesh">开源|SOFAMesh - 基于 Istio 的大规模服务网格解决方案</a>
    ·
    <a href="https://github.com/alipay/sofa-mosn">开源|SOFAMosn - Golang 版的高性能 Service Mesh Sidecar 代理</a>
</div>

<div class="gallery gallery-text">
    <h4>扫码关注微信公众号，获取每日推送，回复【加群】入群学习</h4>
    <table frame="void" align="center">
    <tr>
        <td>
            <a href="https://ws4.sinaimg.cn/large/006tNbRwly1fw3ku0cwuhj304g056dgk.jpg" title="云原生应用架构">
            <img src="https://ws4.sinaimg.cn/large/006tNbRwly1fw3ku0cwuhj304g056dgk.jpg" alt="云原生赢家架构微信公众号">
            </a>
        </td>
        <td>
            <a href="https://ws1.sinaimg.cn/large/006tNbRwly1fw3l1sxoijj304g0563z7.jpg" title="ServiceMesher">
            <img src="https://ws1.sinaimg.cn/large/006tNbRwly1fw3l1sxoijj304g0563z7.jpg" alt="ServiceMesher 微信公众号">
            </a>
        </td>
    </tr>
    </table>
</div>
-->
</div>
{{ end }}
