<div class="gallery gallery-text">
    <h3>推广</h3>
    <a href="https://ws3.sinaimg.cn/large/006tNbRwly1fw3ftkqyvfj30yi1pdn6q.jpg">
        算法面试通关40讲，前Facebook工程师覃超带你吃透大厂面试题，via 极客时间，限时优惠99元，10月20日恢复原价
    </a>
    <br/>
    <a href="https://ws1.sinaimg.cn/large/006tNbRwly1fw3fzx37obj30yi1pdk1r.jpg">
        深入剖析Kubernetes，Kuberentes社区资深成员与项目维护者张磊带您掌握Kubernetes，via 极客时间，99元
    </a>
</div>
<div class="gallery gallery-text">
    <h4>扫码关注我的微信公众号，获取每日推送</h4>
    <table frame="void" align="center">
    <tr>
        <td>
            <a href="https://ws4.sinaimg.cn/large/006tNbRwly1fw3ku0cwuhj304g056dgk.jpg" title="云原生应用架构">
            <img src="https://ws4.sinaimg.cn/large/006tNbRwly1fw3ku0cwuhj304g056dgk.jpg">
            </a>
        </td>
        <td>
            <a href="https://ws1.sinaimg.cn/large/006tNbRwly1fw3l1sxoijj304g0563z7.jpg" title="ServiceMesher">
            <img src="https://ws1.sinaimg.cn/large/006tNbRwly1fw3l1sxoijj304g0563z7.jpg">
            </a>
        </td>
    </tr>
    </table>
</div>




