{{ if .IsHome }}
  {{ $.Scratch.Set "title" .Site.Title }}
  {{ if .Site.Params.subtitle }}{{ $.Scratch.Set "subtitle" .Site.Params.subtitle }}{{ end }}
  {{ if .Site.Params.bigimg }}{{ $.Scratch.Set "bigimg" .Site.Params.bigimg }}{{ end }}
{{ else }}
  {{ $.Scratch.Set "title" .Title }}
  {{ if .Params.subtitle }}{{ $.Scratch.Set "subtitle" .Params.subtitle }}{{ end }}
  {{ if .Params.bigimg }}{{ $.Scratch.Set "bigimg" .Params.bigimg }}{{ end }}
{{ end }}
{{ $bigimg := $.Scratch.Get "bigimg" }}

{{ if or $bigimg ($.Scratch.Get "title") }}
  {{ if $bigimg }}
    <div id="header-big-imgs" data-num-img={{len $bigimg}} {{range $i, $img := $bigimg}}data-img-src-{{add $i 1}}="{{$img.src | absURL }}" {{ if $img.desc}}data-img-desc-{{add $i 1}}="{{$img.desc}}"{{end}}{{end}}></div>
  {{ end }}

  <header class="header-section {{ if $bigimg }}has-img{{ end }}">
    {{ if $bigimg }}
      <div class="intro-header big-img">
        {{ $subtitle := $.Scratch.Get "subtitle" }}
        <div class="container">
          <div class="row">
              <div class="col-lg-12 col-md-12 col-md-offset-0">
                {{ if eq .Type "posts" }}
                <div class="post-heading">
                {{ else }}
                <div class="page-heading">
                {{ end }}
                  {{ if .IsHome }}
                     <h1 align="center">{{ i18n "hello" }}</h1>
                  {{ else }}
                     <h1>{{ with $.Scratch.Get "title" }}{{.}}{{ else }}<br/>{{ end }}</h1>
                     {{ if $subtitle }}
                     {{ else }}
                    {{ partial "post_meta.html" . }}
                    {{ end }}
                  {{ end }}
                  {{ if $subtitle }}
                  {{if .IsHome}}
                    <hr class="small">
                    <span class="page-subheading">{{ i18n "subHello" }}</span>
                  {{ else }}
                    {{ if eq .Type "posts" }}
                      <hr class="small">
                      <span class="post-subheading">{{ $subtitle }}</span>
                    {{ else }}
                      <h2 align="center" class="post-subheading">{{ $subtitle }}</h2>
                    {{ end }}
                  {{ end }}
                  {{ if eq .Type "posts" }}
                    {{ partial "post_meta.html" . }}
                  {{ end }}
                {{ end }}
              </div>
            </div>
          </div>
        </div>
        <span class="img-desc" style="display: inline;"></span>
      </div>
    {{end}}
    <div class="intro-header no-img">
      {{ $subtitle := $.Scratch.Get "subtitle" }}
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-md-offset-0">
            <div class="{{ .Type }}-heading">
                <h1 align="center">{{ with $.Scratch.Get "title" }}{{.}}{{ else }}<br/>{{ end }}</h1>
                {{ if $subtitle }}
                  {{ if eq .Type "page" }}
                    <hr class="small">
                    <span class="{{ .Type }}-subheading">{{ $subtitle }}</span>
                  {{ else }}
                    <h2 align="center" class="{{ .Type }}-subheading">{{ $subtitle }}</h2>
                  {{ end }}
                {{ end }}
                {{ if eq .Type "page" }}
                  {{ partial "post_meta.html" . }}
                {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
{{ else }}
  <div class="intro-header"></div>
{{ end }}
