{{ $baseurl := .Site.BaseURL }}
<div>
    <h5 id="wc">{{ .FuzzyWordCount }} {{ i18n "words" }} | {{ i18n "readInAbout" }} {{ .ReadingTime }} {{ i18n "minutes" }}</h5>
    <h5 id="tags">{{ i18n "tags" }}: {{ range .Params.tags }}
        {{ if ne $.Site.LanguagePrefix "" }}
        <a href="{{ $.Site.LanguagePrefix | absURL }}/tags/{{ . | urlize }}/">{{ . }}</a>&nbsp;
        {{ else }}
        <a href="{{ $.Site.LanguagePrefix | absURL }}tags/{{ . | urlize }}/">{{ . }}</a>&nbsp;
        {{ end }}
        {{ end }}
    </h5>
</div>
