$margin_cols: 2;
$content_cols: 12;
$font-size: 16; // in pixels
$line-height: 1.5; // in line height
$fixed_column: 2.8; // in ems
$emSteps: 8;

$column-notation: "col";
$row-notation: "row";

$linktime: .25;

