body {
  background-color: $body-color;
  overflow-x: hidden;
}

::selection {
  background: lighten($color: $primary-color, $amount: 10);
  color: $white;
}

/* preloader */

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0a55a7;
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: center;
}

ol,
ul {
  list-style-type: none;
  margin: 0px;
}

img {
  vertical-align: middle;
  border: 0;
}

a,a:hover {
    text-decoration: underline;
}
a,a:focus {
  text-decoration: none;
}

a{
  color: $primary-color;
}

a,
button,
select {
  cursor: pointer;
  transition: .2s ease;

  &:focus {
    outline: 0;
  }
}

a:hover {
  color: $primary-color;
}

a.text-primary:hover {
  color: $primary-color!important;
}

a.text-light:hover {
  color: $primary-color!important;
}

h4{
  transition: .2s ease;
}
a h4{
  &:hover{
    color: $primary-color;
  }
}

.slick-slide {
  outline: 0;
}

.section {
  padding-top: 90px;
  padding-bottom: 20px;

  &-sm {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &-title {
    margin-bottom: 30px;
  }
}

.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.border-primary {
  border-color: $border-color !important;
}

/* overlay */

.overlay {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: $secondary-color;
    opacity: 0.8;
  }
}

.outline-0 {
  outline: 0 !important;
}

.d-unset {
  display: unset !important;
}

.bg-primary {
  background: $primary-color !important;
}

.bg-secondary {
  background: $secondary-color !important;
}

.bg-gray {
  background: $gray;
}

.text-primary {
  color: $primary-color !important;
}

.text-color {
  color: $text-color;
}

.text-light {
  color: $text-color-light !important;
}

.text-lighten{
  color: #d6d6e0 !important;
}

.text-muted {
  color: #b5b5b7 !important;
}

.font-secondary {
  font-family: $secondary-font;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mb-90 {
  margin-bottom: 90px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.pl-150 {
  padding-left: 150px;
}

.zindex-1 {
  z-index: 1;
}

.overflow-hidden {
  overflow: hidden;
}

.vertical-align-middle{
  vertical-align: middle;
}

.icon-md{
  font-size: 36px;
}

/* page title */
.page-title-section {
  padding: 200px 0 40px;
}

@media screen and (max-width: 600px) {
  .page-title-section {
  padding: 40px 0 25px;
  }
  .lib-element-card-body{
      height: 180px !important;
  }
  .notice-button{
      display: none;
  }
}
.custom-breadcrumb {
  li {
    &.nasted {
      position: relative;
      padding-left: 25px;

      &::before {
        position: absolute;
        font-family: $icon-font;
        content: "\e649";
        font-size: 20px;
        top: 50%;
        left: -5px;
        color: $white;
        transform: translateY(-50%);
      }
    }
  }
}

/* /page title */

.list-styled{
  padding-left: 25px;
  li{
    position: relative;
    margin-bottom: 15px;
    &::before{
      position: absolute;
      content: "";
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background: $primary-color;
      left: -25px;
      top: 5px;
    }
  }
}

textarea.form-control{
  height: 200px;
  padding: 20px;
}

#map_canvas{
  height: 500px;
}



.post-thumb-sm {
  max-width: 100px;
}


/* pagination */
.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .page-item {
    margin: 0 10px;

    &.active {
      .page-link {
        background: $primary-color;
        color: $white;
        border-color: $primary-color;
      }
    }

    &:first-child .page-link,
    &:last-child .page-link {
      border-radius: 0;
    }

    .page-link {
      color: $text-color;
      width: 40%;
    }
  }
}


.content {
  * {
    margin-bottom: 20px;
  }

  a:hover{
      text-decoration: underline;
  }
  img {
    cursor: zoom-in;
  }
  p img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 10px;
  }

  ol {
    padding-left: 2rem;
    list-style-type: decimal;

    li {
        margin-bottom: 0.2rem;
        p {
            margin-bottom: 0.2rem;
        }
    }
  }

  ul {
    padding-left: 2rem;

    li {
      position: relative;
      margin-bottom: 0.2rem;
      list-style-type: disc;
      p {
          margin-bottom: 0.2rem;
      }
    }
  }

/* Based on Bootstrap's `table-responsive` style. */
table {
  //display: block;
  width: 100%;
  //max-width: -moz-fit-content;
  //max-width: fit-content;
  overflow-x: scroll;
  font-size: 0.8rem;
  // Override `article-style`'s `break-word` wrapping to make wide tables scrollable.
  overflow-wrap: normal;
  word-wrap: normal;
  word-break: break-word;
  //margin: 1rem auto;
  margin-bottom: 1rem;
}

th, td {
  padding: 5px;
  text-align: left;
}

tr:hover {background-color: #f5f5f5;}

table tr th,tr td {
  border: 1px solid #80808040;
}

th {
  background-color: #0a55a7;
  color: white;
}

  blockquote {
    p {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 1em;
    }
  }


  pre {
    padding: 10px 20px;
    background: $light;
  }
}

.partner-thumb-sm{
  height: 85px;
  width: 85px;
  object-fit: cover;
}

/** Not work for mobile devices **/

/**
.notice-table {
    display: flex!important;
}

.notice-cell-left {
}

.notice-cell-center {
    flex:2;
}

.notice-cell-right {
}
**/

#searchOpen {
  .fa-search {
    color: #fff !important;
  }
}

.search-wrapper {
  .algolia-autocomplete {
    .ds-dropdown-menu {
      min-width: auto;
    }
  }
}

.aside-toc {
    top: 60px;
    line-height: 1.9;
    ul {
            padding-inline-start: 10px;
            border-left: 1px solid #eee;
    }
    a:hover
    {
        text-decoration: underline;
    }
}

@media screen and (max-width: 600px) {
.sidebar {
    display: none;
  }
.btn-notice {
      display: none;
  }
}

footer .text-color {
    color: #d1d6e8;
}

footer .fa {
    color: #d1d6e8;
}

.book-card-body {
    height: 20px;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.event-card-body{
    height: 140px;
    flex: 1 1 auto;
    padding: 1.25rem;
}

// apply button padding bottom on homepage
.homepage-apply{
    padding-bottom: 15px;
}

figcaption {
    color: gray;
    font-size: 0.8em;
    font-weight: 500;
}

// footnotes with top bar
.footnotes ol li:target {
    scroll-margin-top: 98px;
}

.content sup:target{
    scroll-margin-top: 98px;
}

#backTopBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  color: #80808080; /* Set a background color */
  background-color: transparent; /* Set a background color */
  cursor: pointer; /* Add a mouse pointer on hover */
  font-size: 4rem; /* Increase font size */
}

@media screen and (max-width: 600px) {
  .footnotes ol li:target {
      scroll-margin-top: 0px;
  }

  .content sup:target{
      scroll-margin-top: 0px;
  }
  #backTopBtn {
    font-size: 2rem;
    right: 0;
    bottom: 2rem;
  }
}

.anchorjs-link {
  font-weight: 400;
  color: black;
}

.anchorjs-link:hover {
  color: #0a55a7;
  text-decoration: none;
}

.sidebar-title{
    font-weight: 900;
}

.badge{
    border: none;
    color: #5c5c77;
    background: #00000014;
    font-weight: 400;
    border-radius: 3px;
    padding: 5px 10px;
    margin-right: 8px;
    margin-bottom: 8px;
}

.badge:hover{
    background: #000044;
    color: white;
    text-decoration: none;
}

// Code copy buttons

.highlight {
    position: relative;
}

.highlight-copy-btn {
    position: absolute;
    top: 0.4rem;
    right: 0.8rem;
    border: 0;
    border-radius: 4px;
    padding: 1px;
    font-size: 0.8rem;
    line-height: 1.8;
    background-color: transparent;
    opacity: 0.2;
    min-width: 1rem;
    text-align: center;
}

.highlight-copy-btn:hover {
    color: black;
    opacity: 1;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-toggler{
    border: 1px solid transparent;
    font-size: 1rem;
}

.article-content .list-inline{
    line-height: 1.9rem;
}


@media screen and (max-width: 600px) {
    .article-content .list-inline{
        line-height: 0.8rem;
    }
}

#TableOfContents .toc-list{
    .toc-link:before{
        height: 2rem;
    }
    a:hover {
        font-weight: 600;
        color: #0a55a7;
        text-decoration: none;
    }
    .is-active-link {
        color: #0a55a7;
    }
    .is-active-link:before{
        background-color: #0a55a7;
    }
}

