<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
{{- partial "head.html" . -}}

<body>
    <button onclick="topFunction()" id="backTopBtn" title="Go to top"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></button>
	{{- partial "preloader.html" . -}}
	{{- partial "header.html" . -}}
    {{ if .Site.Params.search }}
    {{ partial "search.html" }}
    {{ end }}
	{{ if not .IsHome }}
	{{ partial "page-header.html" . }}
	{{ end }}
	{{- block "main" . }}{{- end }}
      <!-- ad -->
    {{ if .Site.Params.ad.enable }}
    {{ partial "ad.html" . }}
    {{ end }}
	{{- partial "footer.html" . -}}
</body>

</html>
