<div class="card border-0 rounded-0 hover-shadow mb-5">
  <a href="{{ .Permalink | relURL }}">
  <img class="card-img-top rounded-0" src="{{ .Params.Image | relURL }}" alt="{{ .Title }}">
  </a>
  <div class="book-card-body">
    <ul class="list-inline" align="center">
      <li class="list-inline-item">{{ .Title }}</li>
    </ul>
    <!--
    <h4 class="card-title"><a href="{{ .Permalink | relURL }}">{{ .Title }}</a></h4>
    <ul class="list-inline">
    <li class="list-in-line-item">{{ .Params.subtitle | truncate 30 }}</li>
    -->
    <!-- hide button
    <a href="{{ .Permalink | relURL }}" class="btn btn-primary btn-sm">{{ i18n "apply_now"}}</a>
    -->
    <!--
    </ul>
    -->
  </div>
</div>
