{{ define "main" }}

<!-- blog details -->
<section class="section-sm">
  <div class="container blog">
    <div class="row">
      <div class="col-lg-8">
        <div class="row">
          <!--
          <div class="col-12 mb-4">
            <img src="{{ .Params.Image | relURL }}" alt="blog-thumb" class="img-fluid w-100">
          </div>
          -->
          <div class="col-12">
            <ul class="list-inline">
            <!--
              <li class="list-inline-item mr-4 mb-3 mb-md-0 text-light"><span class="font-weight-bold mr-2">{{ i18n "posted_by" }}
                  :</span><a
                  href="{{ `author/` | relLangURL }}{{ .Params.Author | urlize }}">{{ .Params.Author | title }}</a></li>
            -->
              <li class="list-inline-item mr-4 mb-3 mb-md-0 text-light"><span class="font-weight-bold mr-2">{{ i18n "date" }}
                  :</span>{{ default (i18n "dateFormat") .Site.Params.dateformat | .PublishDate.Format }}</li>

              <li class="list-inline-item mr-4 mb-3 mb-md-0 text-light"><span class="font-weight-bold mr-2">{{ i18n "category" }}
                  :</span>{{ range $index, $elements:= .Params.Categories }}<a
                  href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}"> {{ if ne $index 0 }}, {{ end }}
                  {{ . | title }}</a> {{ end}}</li>
              <li class="list-inline-item mr-4 mb-3 mb-md-0 text-light"><span class="font-weight-bold mr-2">{{ i18n "word_count" }}
                  :</span>{{ .WordCount }} {{ i18n "word" }}</li>
              <li class="list-inline-item mr-4 mb-3 mb-md-0 text-light"><span class="font-weight-bold mr-2">{{ i18n "reading_time" }}
                  :</span>{{ math.Round (div (countwords .Content) 220.0) }} {{ i18n "minute" }}</li>
            </ul>
          </div>
          <!-- border -->
          <div class="col-12 my-4">
            <div class="border-bottom"></div>
          </div>
          <!-- blog contect -->
          <div class="col-12 content">
            {{ .Content }}
          </div>

          <!-- paging -->
          {{ partial "paging.html" . }}

          <!-- comments -->
          {{ if .Site.DisqusShortname }}
          <div class="col-12">
            {{ template "_internal/disqus.html" . }}
          </div>
          {{ end }}
        {{ if .Site.Params.enableGitalk }}
        <div class="col-12 mb-5" id="gitalk-container"></div>
            {{ partial "gitalk.html" . }}
        {{ end }}
        </div>
      </div>
      {{ "<!-- sidebar -->" | safeHTML }}
      <aside class="col-lg-4">
      {{ partial "blog-sidebar.html" . }}
      {{ "<!-- recommend -->" | safeHTML }}
      {{ partial "related.html" . }}
      {{ "<!-- /recommend -->" | safeHTML }}
      {{ "<!-- toc -->" | safeHTML }}
      {{ partial "toc.html" . }}
      {{ "<!-- /toc -->" | safeHTML }}
      </aside>
      {{ "<!-- /sidebar -->" | safeHTML }}
    </div>
  </div>
</section>
<!-- /blog details -->

{{ end }}
