{{ "<!-- categories -->" | safeHTML }}
<div class="sidebar">
<div class="bg-white mb-5">
  <h4 class="mb-4">{{ i18n "categories" }}</h4>
  {{- if isset .Site.Taxonomies "categories" }}
  {{- if not (eq (len .Site.Taxonomies.categories) 0) }}
  <ul class="list-unstyled">
    {{- range $name, $items := .Site.Taxonomies.categories }}
    <li class="border-bottom"><a href="{{ `categories/` | relLangURL }}{{ $name | urlize | lower }}" class="d-block pb-3 mt-3 text-capitalize">{{ $name | title | humanize }}</a></li>
    {{- end }}
  </ul>
  {{- end }}
  {{- end }}
</div>

{{ "<!-- tags -->" | safeHTML }}
<div class="bg-white mb-5">
    <h4 class="mb-4">{{ i18n "tags" }}</h4>
    {{ if not (eq (len $.Site.Taxonomies.tags) 0) }}
    {{ $fontUnit := "rem" }}
    {{ $largestFontSize := 2.0 }}
    {{ $largestFontSize := 2.5 }}
    {{ $smallestFontSize := 1.0 }}
    {{ $fontSpread := sub $largestFontSize $smallestFontSize }}
    {{ $max := add (len (index $.Site.Taxonomies.tags.ByCount 0).Pages) 1 }}
    {{ $min := len (index $.Site.Taxonomies.tags.ByCount.Reverse 0).Pages }}
    {{ $spread := sub $max $min }}
    {{ $fontStep := div $fontSpread $spread }}

    <div id="tag-cloud" style="padding: 5px 15px">
        {{ range $name, $taxonomy := $.Site.Taxonomies.tags }}
            {{ $currentTagCount := len $taxonomy.Pages }}
            {{ $currentFontSize := (add $smallestFontSize (mul (sub $currentTagCount $min) $fontStep) ) }}
            {{ $count := len $taxonomy.Pages }}
            {{ $weigth := div (sub (math.Log $count) (math.Log $min)) (sub (math.Log $max) (math.Log $min)) }}
            {{ $currentFontSize := (add $smallestFontSize (mul (sub $largestFontSize $smallestFontSize) $weigth) ) }}
            <!--Current font size: {{$currentFontSize}}-->
            <a href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}" style="font-size:{{$currentFontSize}}{{$fontUnit}}">{{ $name | humanize}}</a>
        {{ end }}
    </div>
{{ end }}
</div>
{{ "<!-- latest post -->" | safeHTML }}
<!--
<div class="bg-white mb-5">
  <h4 class="mb-4">{{ i18n "latest_article" }}</h4>
  {{ "<!-- post-item -->" | safeHTML }}
  {{ range first 3 ( where .Site.Pages "Type" "post" )}}
  <div class="media border-bottom border-color pb-3 mb-3">
    <a href="{{ .Permalink | relURL }}"><img class="mr-3 post-thumb-sm" src="{{ .Params.Image | relURL }}"></a>
    <div class="media-body">
      <a href="{{ .Permalink | relURL }}">
        <h5 class="mt-0">{{ .Title }}</h5>
      </a>
      {{ default (i18n "dateFormat") .Site.Params.dateformat | .PublishDate.Format }}
    </div>
  </div>
  {{ end }}
</div>
-->
