<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
<script>
  window.onload = function() {
      const gitalk = new Gitalk({
      clientID: '{{ .Site.Params.Gitalk.clientID }}',
      clientSecret: '{{ .Site.Params.Gitalk.clientSecret }}',
      repo: '{{ .Site.Params.Gitalk.repo }}',
      owner: '{{ .Site.Params.Gitalk.owner }}',
      admin: ['{{ .Site.Params.Gitalk.admin }}'],
      id: hex_md5(hex_md5(window.location.pathname + window.location.hash)), // Ensure uniqueness and length less than 50
      distractionFreeMode: false // Facebook-like distraction free mode
    });
    (function() {
      if (["localhost", "127.0.0.1"].indexOf(window.location.hostname) != -1) {
        document.getElementById('gitalk-container').innerHTML = 'Gitalk comments not available by default when the website is previewed locally.';
        return;
      }
      gitalk.render('gitalk-container');
    })();
  }
</script>
