<!DOCTYPE html>
<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="baidu-site-verification" content="g8IYR9SNLF" />
    <meta name="uyan_auth" content="419f63884b" /> {{ partial "meta.html" . }}
    <base href="{{ .Site.BaseURL }}">
    <title> {{ .Title }} - jimmysong.io focus on Cloud Native & Big Data </title>
    <link rel="canonical" href="{{ .Permalink }}"> {{ partial "head_includes.html" . }}
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
</head>
