<link rel="stylesheet" href="https://jimmysong.io/static/css/style.css">
<!--
<link rel="stylesheet" href="https://yandex.st/highlightjs/8.0/styles/default.min.css">
<link rel="stylesheet" href="//cdn.bootcss.com/highlight.js/9.2.0/styles/github.min.css">
-->
<!--使用Prism做代码高亮、滑动显示、和copy按钮-->
<!--
<link href="https://jimmysong.io/static/css/prism.css" rel="stylesheet" />
<script type="text/javascript" src="https://jimmysong.io/static/js/prism.js"></script>
-->
<!--使用pygments代码高亮-->
<link rel="stylesheet" href="/static/css/syntax.css">
<!--
<script>
    hljs.initHighlightingOnLoad();
</script>
-->
<!--Baidu analytics-->
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?11f7d254cfa4e0ca44b175c66d379ecc";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<!--Baidu zhanzhang push-->
<!--
<script>
    (function() {
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        } else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>
-->
<!--添加微信朋友圈转发缩略图-->
<!--
<div style='margin:0 auto;width:0px;height:0px;overflow:hidden; '>
    <img src='http://olz1di9xf.bkt.clouddn.com/jimmy.jpg' />
</div>
-->
