        <ul id="mainnav">
            <li>
                <a href="/blogs/">
                <span class="icon"> <i aria-hidden="true" class="icon-quill"></i></span>
                <span> blogs </span>
            </a>
            </li>
            <li>
            <a href="/projects/">
                <span class="icon"> <i aria-hidden="true" class="icon-console"></i></span>
                <span> projects </span>
            </a>
            </li>
            <li>
            <a href="/talks/">
                <span class="icon"> <i aria-hidden="true" class="icon-stats"></i></span>
                <span> talks </span>
            </a>
            </li>
            <li>
            <a href="http://www.linkedin.com/in/rootsongjc">
                <span class="icon"> <i aria-hidden="true" class="icon-linkedin"></i></span>
                <span> me </span>
            </a>
            </li>
        </ul>
        <form name="f1" onsubmit="return g(this)" target="_blank">
            <table bgcolor="#FFFFFF" style="font-size:9pt;">
                <tr height="60">
                    <td valign="top" width="8%">
                        <a href="https://www.baidu.com/"  target="_blank">
                            <img src="https://www.baidu.com/img/baidu_jgylogo3.gif" border="0" alt="baidu">
                        </a>
                    </td>
                    <td>
                        <input type="text" name="word" onfocus="checkHttps" size="30" maxlength="100">
                        <input type="submit" value="百度搜索"><br>
                        <input name="tn" type="hidden" value="SE_zzsearchcode_shhzc78w">
                        <input name="cl" type="hidden" value="3">
                        <input name="ct" type="hidden">
                        <input name="si" type="hidden" value="rootsongjc.github.io">
                        <div class="mt10">
                            <input name="s" type="radio"> 互联网<input name="s" type="radio" checked> rootsongjc.github.io
                        </div>
                    </td>
                </tr>
            </table>
        </form>
