<!-- page title -->
<section class="bg-cover page-title-section overlay" style="background-image: url('{{ .Params.Bg_image | relURL}}'),url('{{`images/backgrounds/page-title.webp`| relURL}}');" >
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="list-inline custom-breadcrumb">
          {{ if .IsPage }}
            {{$section_heading := .Site.GetPage "section" .Section }}
            {{with $section_heading}}
          <li class="list-inline-item h2"><a class="text-white font-secondary" href="{{ .Section | relLangURL }}">{{ .Title }}</a></li>
            {{ end }}
          {{ else }}
          <li class="list-inline-item h2"><a class="text-white font-secondary" href="{{ .Site.BaseURL | relLangURL }}">{{ .Site.Params.home }}</a></li>
         {{end}}
          <li class="list-inline-item h5"><i class="ti-angle-right text-white"></i></li>
          <li class="list-inline-item text-white h3 font-secondary">{{ .Title }}</li>
        </ul>
        <p class="text-white">{{ .Params.Description | markdownify }}</p>
      </div>
    </div>
  </div>
</section>
