{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
          <div id="search-results"></div>
          <script id="search-result-template" type="text/x-js-template">
            <div class="search-result" id="summary-${key}">
              <h4><a href="${link}">${title}</a></h4>
              <p>${snippet}</p>
              ${ isset tags }<p>Tags: ${tags}</p>${ end }
              ${ isset categories }<p>Categories: ${categories}</p>${ end }
            </div>
          </script>
      </div>
    </div>
  </div>
</section>

{{ end }}
